<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Columbia Course Planner</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
        .select-user {
            padding-top: 20px;
        }
    </style>
</head>
<body>
    <div class="sidebar">
        <div class="profile">
            <img src="https://via.placeholder.com/100" alt="Profile Picture">
            <h2>Hi, {{ current_user.name }}</h2>
        </div>
        <a href="/" class="nav-button"><i class="fas fa-home"></i> Home</a>
        <a href="/courses" class="nav-button"><i class="fas fa-book"></i> Courses</a>
        <a href="/jobs" class="nav-button"><i class="fa-solid fa-briefcase"></i> Jobs</a>
        <a href="/profile" class="nav-button"><i class="fas fa-user"></i> Profile</a>
    </div>
    <div class="content">
        <h1>Welcome to Columbia Course Recommendation System</h1>
        <div>
            There are more than 5000 courses provided by the 20 schools of Columbia University. Courses with similar names are offered at different levels and different focuses. 
        </div>
        <div>
            Having problems in choosing your courses? Try to use our system!
        </div>
        <div class="select-user">
            <strong>Log in as</strong>
            <form action="{{ url_for('index') }}" method="post">
                <select name="user" id="user-select">
                    {% for user in users %}
                    <option value="{{ user.uid }}" {% if user.uid == current_user.uid %}selected{% endif %}>{{ user.name }}</option>
                    {% endfor %}
                </select>
                <button type="submit">Select</button>
            </form>
        </div>
    </div>
</body>
</html>